{% load static %}
<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Work+Sans:400,600">
        <script type="text/javascript" src="test.js"></script>
        <link href="https://fonts.googleapis.com/css?family=ZCOOL+KuaiLe&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{% static 'blog/style.css'%}">
    </head>

    <body>
        <header>
            <a href="{% url 'blog-home' %}"><img class="logo" src="{% static 'image/logo.png' %}" alt="logo" ></a>
            <!-Below is the nav bar->
            <nav class="nav_bar">
                <ul>
                    <li><a href="{% url 'blog-home' %}">Home</a></li>
                    <li><a href="{% url 'blog-recent' %}">Recent Themes</a></li>
                    <li><a href="{% url 'blog-help' %}">Help</a></li>
                    <li><a href="{% url 'blog-profile' %}">My Profile</a></li>
                </ul>
            </nav>

            <a class="logout" href="#"><button>Logout</button></a>
        </header>
        <!-Nav bar stop here, copy it to other html->

        <h1>Login page</h1>
        <p>Welcome back! Go ahead and enter your info to sign in!</p>
        <form action="." method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <p><button type="submit" value="login">Login</button></p>
            <p>Forgot your password? <button type="#" value="recover">Recover password</button></p>
            <p>Sign up for a account! <button type="#" value="signup">Sign up for Account</button></p>
        </form>
    </body>
</html>