{% load static %}
{% load crispy_forms_tags %}
<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Work+Sans:400,600">
        <script type="text/javascript" src="{% static 'blog/function.js'%}"></script>
        <link href="https://fonts.googleapis.com/css?family=ZCOOL+KuaiLe&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{% static 'blog/style.css'%}">
    </head>

    <body>
        <header>
            <a href="{% url 'blog-home' %}"><img class="logo" src="{% static 'image/logo.png' %}" alt="logo" ></a>
            <!-Below is the nav bar->
            <nav class="nav_bar">
                <ul>
                    <li><a href="{% url 'blog-home' %}">Home</a></li>
                    <li><a href="{% url 'blog-recent' %}">Recent Themes</a></li>
                    <li><a href="{% url 'blog-help' %}">Help</a></li>
                    <li><a href="{% url 'blog-profile' %}">My Profile</a></li>
                </ul>
            </nav>

            <a class="profile" href="{% url 'blog-profile' %}"><button>{{request.user}}</button></a>
            <a class="logout" href="{% url 'blog-logout' %}"><button>Logout</button></a>
        </header>
        <!-Nav bar stop here, copy it to other html->

        <h1>Profile page</h1>
            <div class="content-section">
                <div class="media">
                    <img src="{{ user.profile.image.url }}">
                    <div class="media-body">
                        <h2 class="account-heading">Username:  {{ user.username }}</h2>
                        <p class="text-secondary">Email: {{ user.email }}<br> First name: {{ user.first_name }}
                        <br> Last name: {{ user.last_name }}
                        <br> Bio: {{ p_form.my_story.value }}</p>
                    </div>
                </div>
                <p class="wrapper">
                    <p><button onclick="hideThisFunc()">Edit info</button></p>
                </div>

                <div id="hidden" style="display: none;">
                    <form method="POST" enctype="multipart/form-data">
                        <p>Change your info</p>
                        <p>-----------------------</p>
                        {% csrf_token %}
                         <p>username
                        {{u_form.username}}</p>

                        <p>First name
                        {{u_form.first_name}}</p>

                        <p>Last name
                        {{u_form.last_name}}</p>
                        <p>

                        <p>
                        {{p_form.image}}</p>

                        <p>Bio
                        {{p_form.my_story}}</p>
                        <p><button input type="submit" name="Create User">update</button></p>
                        {{ form.errors }}
                    </form>
                </div>
            </div>
    </body>
</html>

<style>
    img {
        display : block;
        margin-left: auto;
        margin-right: auto;
        border-radius: 15px 50px;
        width: auto;
        height: 100px;
    }
</style>