{% load static %}
<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Work+Sans:400,600">
        <script type="text/javascript" src="test.js"></script>
        <link href="https://fonts.googleapis.com/css?family=ZCOOL+KuaiLe&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{% static 'blog/style.css'%}">
    </head>

    <body>
        <header>
            <a href="{% url 'blog-home' %}"><img class="logo" src="{% static 'image/logo.png' %}" alt="logo" ></a>
            <!-Below is the nav bar->
            <nav class="nav_bar">
                <ul>
                    <li><a href="{% url 'blog-home' %}">Home</a></li>
                    <li><a href="{% url 'blog-recent' %}">Recent Themes</a></li>
                    <li><a href="{% url 'blog-help' %}">Help</a></li>
                    <li><a href="{% url 'blog-profile' %}">My Profile</a></li>
                </ul>
            </nav>
            <a class="profile" href="{% url 'blog-profile' %}"><button>{{request.user}}</button></a>
            <a class="logout" href="{% url 'blog-logout' %}"><button>Logout</button></a>
        </header>
        <!-Nav bar stop here, copy it to other html->

        <h1>Reset password</h1>
        <p>Enter your email address</p>
        <form method="post">
            <p>{% csrf_token %}
             {{ form }}</p>
            <p><input type="Submit" name="Send email"></p>
        </form>
    <p>Already have an account? <a class="login" href="{% url 'blog-login' %}"><button>Sign in</button></a></p>
    </body>
</html>
