{% load staticfiles %}
<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Work+Sans:400,600">
        <script type="text/javascript" src="test.js"></script>
        <link href="https://fonts.googleapis.com/css?family=ZCOOL+KuaiLe&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{% static 'blog/style.css'%}">
    </head>

    <body>
        <header>
            <a href="{% url 'blog-home' %}"><img class="logo" src="{% static 'image/logo.png' %}" alt="logo" ></a>
            <!-Below is the nav bar->
            <nav class="nav_bar">
                <ul>
                    <li><a href="{% url 'blog-home' %}">Home</a></li>
                    <li><a href="{% url 'blog-recent' %}">Recent Themes</a></li>
                    <li><a href="{% url 'blog-help' %}">Help</a></li>
                    <li><a href="{% url 'blog-profile' %}">My Profile</a></li>
                </ul>
            </nav>

            <a class="logout" href="#"><button>Logout</button></a>
        </header>
        <!-Nav bar stop here, copy it to other html->

        <h1>Social Media Company</h1>
        <p>Welcome to my domain! This is my first attempt at creating a social media website</p>
        <p>Returning user? <a class="login" href="{% url 'blog-login' %}"><button>Login</button></a></p>
        <p>First time here? <a class="login" href="#"><button>Sign up for a account</button></a></p>
    </body>
</html>

